body {
  background-image: url("../images/stars.jpeg");
}
h1 {
  top: 20px;
  font-size: 3em;
  font-family: 'Devonshire', cursive;
  color: white;
}
td {
  top:5px;
  font-size: 1em;
  font-family: 'Devonshire', cursive;
}

tr {
  background-color: white;
}
.image-p {
  float: right;
  border: 2px solid blue;
  width: 300px;
  padding: 5px;
  background-color: white;
  margin: 10px 0 10px 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.image-s {
  float: right;
  border: 2px solid blue;
  width: 200px;
  padding: 5px;
  background-color: white;
  margin: 10px 0 10px 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
